.linage {
  fill: none;
  stroke: black;
}
.marriage {
  fill: none;
  stroke: black;
}
.node {
  box-sizing: border-box;
  background-color: lightblue;
  border: 1px solid black;
  /* max-height: 15px;
  max-width: 98%; */
}
.nodeText{
  font: 10px sans-serif;
}
.marriageNode {
  background-color: black;
  border-radius: 50%;
}

.svg {
  height: 900px;
}